body{
	font-family: "Open Sans", verdana, arial, sans-serif;
}
.hideThis{
	display: none;
}
.showThis{
	display: block
}
.showThisInline{
	display: inline-block
}
a{
	text-decoration: none;
	color: #001ad4;
}
#whatToPlot{
	margin-bottom: 0.5em;
}
.whatToPlotRow{
	margin-bottom: 1em;
}
.whatToPlotTitle{
	display: inline-block;
    vertical-align: top;
    width: 4em;
    text-align: right;
}
.whatToPlotBody{
	display: inline-block;
}
#options{
	margin-left: 2em;
}
.fontMedium{
	font-size: medium;
}
#checkBoxOrder{
	font-size: medium;
}
#citationsNeeded{
	border-top: 1px solid grey;
	margin-top:1em;
	padding:1em;	
}
#citationsNeeded > ul{
	margin: 0.2em;
}
.sortCheckOptions{
	margin-left:2em;
}
.regionsCheckAll{
	margin-bottom: 0.4em
}
.pluralCase{
	display:inline;
}
.perNormalText{
	display:none;
}
.regionCheck{
    display: inline-table;
    width: 25em;
    background: whitesmoke;
    margin: 0.2em;
    padding: 0.5em;
}
.sectionTitle{
	font-size: 1.2em;
}
.checkAll{
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}
div.regionCheck.Global>div.CheckAll>input,
div.regionCheck.Global>div.CheckAll>label,
div.regionCheck.Internationalconveyance>div.CheckAll>input,
div.regionCheck.Internationalconveyance>div.CheckAll>label{
	display: none;
}
.regionCheck.topTen>div.countryCheckGroup:nth-child(n+13){
	display: none;
}
div.listInfo{
	margin-top: 1.5em;
	margin-bottom: 1em;
}
div.showCheckboxes{
	display:block;
}
div.hideCheckboxes{
	display:none;
}
div.toggleAll{
	margin-bottom: 0.3em;
}
div.seeAll{
	color: #3276de;
    margin-top: 0.5em;
    margin-left: 2em;
}
